<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--mybatis-config.xml只保留mybatis特有的配置信息，其他的如jdbc连接池的信息由spring来进行管理-->
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!--下划线和驼峰适配-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--  设置别名  -->
    <typeAliases>
        <package name="com.model"/>
    </typeAliases>
</configuration>
