<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CardMapper">

    <!--person 与 cards 1对1-->
    <!--<resultMap id="Patient" type="person" autoMapping="true">
        &lt;!&ndash;per_id:主键字段与pojo属性对应&ndash;&gt;
        <id column="per_id" property="perId" />
        <association property="cards" javaType="cards" autoMapping="true">
            <id column="card_id" property="cardId" />
        </association>
    </resultMap>-->

    <select id="getNewCard" resultType="cards" parameterType="cards">
        SELECT card_no FROM cards WHERE card_id>(SELECT MAX(per_id) FROM cards) LIMIT 1;
    </select>

</mapper>